body {
	text-align: center;
	background: url("images/makeup.jpg");
	background-size: cover;
	font-family: arial; alt="sans serif" ; 
	font-weight: normal;
	color: black;
}
p {
	font-size: 16px;
}
a:link {
	color: #D4AF37;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: none;
}

#slogan {
	font-style: italic;
}
ul {
	text-align: center;
}
br {
	width: 0px;
}
img {
	width: 250px;
}
li {
	font-size: 16px;
}