.topbanner {
	display:block;
	width: 100%;
}
.topbanner img {
	width: 100%;
	min-height: 50%;
} 
.logo img {
	position:absolute;
	top:-3%;
	margin-left:0%;
	z-index: 2;
}
nav {
	background-color:#aaaaaa;
	font-family: 'Lato', sans-serif;
	font-size:1em;
	width:100%;
	text-align:center;
}
.clearfix a {
	float:left;
	background-color:#aaaaaa;
	font-family: 'Lato', sans-serif;
  	text-decoration: none;
  	padding: .3em 1.5em;
  	color: white;
  	display: block;
  	text-transform:uppercase;
}
.readon a {
	float:left;
	background-color:#aaaaaa;
	font-family: 'Lato', sans-serif;
  	text-decoration: none;
  	padding: .3em 1.5em;
  	color: white;
  	display: inline-block;
  	text-transform:uppercase;
}
.previous a {
	background-color:#aaaaaa;
	font-family: 'Lato', sans-serif;
  	text-decoration: none;
  	padding: .3em 1.5em;
  	margin-top:15%;
  	margin-left: 30%;
  	color: white;
  	display: block;
  	text-transform:uppercase;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix a:hover {
	background-color:#CCFFCC;
	color:#aaaaaa;
}
.readon a:hover {
	background-color:#CCFFCC;
	color:#aaaaaa;
}
.date {
	font-family: 'Lora', serif;
	font-size:1em;
	color:#66CCFF;
	padding:0;
	clear:both;
	display:inline-block;
}
header {
	padding:0em;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size:2em;
	color: #696969;
	text-transform:uppercase;
}
h2 {
	font-family: 'Lato', sans-serif;
	font-size:2em;
	color: #696969;
	text-transform:uppercase;
}
p {
	font-family: 'Lora', serif;
	font-size:.8em;
	line-height:1.6em;
	color: black;
}
#wrapper {
	float:left;
	margin-top:1em;
}
.content {
	float:left;
	display:inline-block;
	width:60%;
	padding: 1em;
	margin-top:1em;
}
.content img {
	float:left;
	display:block;
	width:60%;
	padding:0 1em 1em 0;
	margin-top:2em;
}
.content2 img {
	float:left;
	display:block;
	width:60%;
	padding:0 1em 1em 0;
	margin-top:2em;
}
.content3 img {
	float:left;
	display:block;
	width:60%;
	padding:0 1em 1em 0;
	margin-top:2em;
}
.sidebar1 {
	float:right;
	background:#E8E8E8;
	color:#696969;
	width:22%;
	padding: 1em;
	margin-right:3%;
	margin-top: 5%;
}
.sidebar2 {
	float:right;
	background:#E8E8E8;
	padding:1em;
	width:22%;
	margin-right:3%;
	margin-top:2%;
	clear:both;
}
.sidebar3 {
	background-color:none;
	float:right;
	padding:1em 0 1em 0;
	width:24%;
	margin-right:3%;
	margin-top:1%;
	clear:both;
}
.sidebar4 {
	background-color:none;
	float:right;
	padding:1em 0 1em 0;
	width:24%;
	margin-right:3%;
	margin-top:1%;
	clear:both;

}
.caitlyn img {
	border-color:solid white;
	border-width:1em;
	width:100%;
	height:auto;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content: " ";
	clear: both;
	height: 0;
}
.content2 {
	display:inline-block;
	width: 60%;
	padding: 1em;
}
.content3 {
	display:inline-block;
	width: 60%;
	padding: 1em;
}
ul {
	list-style:none;
	float:left;
	padding:0;
	margin:0;
}
li {
  	float: left;
  	width: 43%;
  	padding: 3.5%;
}
footer {
	text-align:center;
	font-family: 'Lora', serif;
	font-size:.8em;
	padding:3em;
  	clear: both;
}
.footer img {
	float:left;
	padding:.5em;
}
.sidebar2 a:hover {
	opacity: .5;
}
